.itenary-day-container {
  min-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  
  box-shadow: 0px 0px 8px #9fa4bd;
 
  border-radius: 12px;
}
.itenary-temperature-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.temperature-heading {
  font-size: 24px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.facility {
  width:100%;
  text-align: left;
  font-size: 16px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}
.temperature-icon-and-details-container{
  width:20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facilities-container{
  width:100%
}