.booking-details-container {
  display: flex;
  flex-direction: row;

  padding: 2%;
  margin: 0% 5% 0% 5%;
}
.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 45%;
  height: 600px;
}
.booking-tour-image {
  min-width: 50%;

  padding: 4%;
}
.text-field {
  padding: 2%;
  max-height:56px
}
.text-fields-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-heading h2 {
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 890px) {
  .booking-details-container {
    display: flex;
    flex-direction: column;

    padding: 2%;
    margin: 0% 5% 0% 5%;
  }
}
